[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "<2.19"
flask-wtf = "<0.15"
aws-xray-sdk = "<0.96"
flask-login = "<0.5"
python-jose = "<2.1"
mysql-connector-python = "<8.1"
boto3 = "*"
Flask = "<0.13"
Pillow = "<5.1"

[requires]
python_version = "3.6"
